<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
	<title>{{title}}</title>
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">
		<!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Orion-Entertainment CSS -->
		<link rel="stylesheet" href="/stylesheets/main.full.css">
		<!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/js/mdb.min.js"></script>
        <!-- Orion-Entertainment Players JS -->
        <script type="text/javascript" src="/js/players.full.js"></script>
	</head>

	<body>
		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light FontWeight">
			<a class="navbar-brand" href="/">Orion-Entertainment</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/Players" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Players
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Players/TopCharts">Top Charts</a>
							<a class="dropdown-item" href="/Players/KillFeed">Kill Feed</a>
							<a class="dropdown-item" href="/Players/Search">Search Players</a>
							<div class="dropdown-divider"></div>
							<!--<a class="dropdown-item" href="/Players/Report">Report a Player</a>-->
						</div>
					</li>

                    <li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="/Shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Shop
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item active" href="/Shop">View Shop</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Shop/Purchases">View Purchases</a>
						</div>
					</li>

                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/Shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Changelogs
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Changelog">Changelogs</a>
                            {{#if Admin}}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Changelog/Admin">Admin</a>
                            {{/if}}
						</div>
					</li>
				</ul>

				<form class="form-inline my-2 my-lg-0">
					<a class="nav-link" href="/auth/logout">Logout</a>
				</form>
			</div>
		</nav>
		<!-- Header -->

        <div class="Content">
            {{#if Data}}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><scrong>Date Purchased</scrong></th>
                            <th scope="col"><scrong>Category: Item</scrong></th>
                            <th scope="col"><scrong>Status</scrong></th>
                            <th scope="col"><scrong>Next Payment</scrong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Data}}
                            <tr>
                                <td>{{this.Purchased}}</td>
                                <td>{{this.Category}}: {{this.Item}}</td>
                                <td>{{this.Status}}</td>
                                <td>{{this.Payment}}</td>
                                {{#ifEquals this.Status "Active"}}<td><button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#cancelsubscription" onClick="CancelSubscription({{this.id}})">Cancel</button></td>{{/ifEquals}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="modal fade" id="cancelsubscription" tabindex="-1" role="dialog" aria-labelledby="cancelsubscriptionLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelsubscriptionLabel">Cancel Subscription</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Your subscription will be cancelled and wont renew at the next payment date.<br>
                                The item you subscribed for will remain active until the date the next payment was set for.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" onclick="CancelSubscription(null)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    let CancelSubscriptionID;
                    function CancelSubscription(id) {
                        if (id !== null) return CancelSubscriptionID = id;
                        else {
                            $.ajax({
                                async: true,
                                type: 'POST',
                                url: '/Shop/CancelSubscription',
                                data: {
                                    id: CancelSubscriptionID
                                },
                                success: function(data) {
                                    if (data.Error !== undefined) {console.log(data.Error); return alert(data.Error);}
                                    else {
                                        if (data == "Success") return location.reload();
                                        else alert(data);
                                    }
                                },
                                error: function(error) {
                                    console.log(error)
                                    return alert("Error");
                                }
                            });
                        }
                    }
                </script>
            {{else}}
                <h1 class="MainText centerText">No Purchases Found</h1>
            {{/if}}
        </div>
	</body>
</html>